{% extends "bootstrap/base.html" %}
{% block title %}三螺旋大数据{% endblock %}
{% block head %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<link rel="shortcut icon" href="../static/order/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/order/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../static/order/css/custom.css">
<!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('public.home') }}">三螺旋</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('order.searchbox1',page=1 ) }}">主页</a></li>
{#                <!--<li><a href="{{ url_for('order.order') }}">订单列表</a></li>-->#}
{#                <!--<li><a href="{{ url_for('order.about') }}">确认订单</a></li>-->#}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="../static/order/js/script.js"></script>
{% endblock %}