<!DOCTYPE html>
<html lang="">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/order/favicon.ico" type="image/x-icon">

    <!-- ===========================
    THEME INFO
    =========================== -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>Home</title>

    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="image/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/order/image/apple-touch-icon-ipad-retina.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/order/image/apple-touch-icon-iphone-retina.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/order/image/apple-touch-icon-ipad.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../../static/order/image/apple-touch-icon-iphone.png"/>

    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/order/css/style.css">
    <link rel="stylesheet" href="../../static/order/css/responsive.css">

    <!-- ===========================
    FONTS & ICONS
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Kristi|Alegreya+Sans:300' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!--[if IE]>
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<a class="navbar-link" href="/searchbox1/1"><i class="fa fa-sign-out">返回</i></a>
<div class="container">
    <!-- ===========================
    HEADER
    ============================ -->
    <div id="header" class="row">
        <div class="col-sm-2">
            <img class="propic" src="../../static/order/avator/{{ info.avator }}" alt="" class="img-rounded">
        </div>
        <!-- photo end-->

        <div class="col-sm-10">
            <div class="cv-title">
                <div class="row">
                    <div class="col-sm-7">
                        <h1>{{ info.name }}</h1>
                    </div>
                    <div class="col-sm-5 text-right dl-share">
                        <a class="btn btn-success" href=""><span class="fa fa-star"></span> Follow</a>
                    </div>
                </div>
                <h2>{{ info.college }} &nbsp; {{ info.institute }}  <b style="color: #2a6496">{{ info.C }}  {{ info.J }} {{ info.Q }}</b></h2>
            </div><!-- Title end-->

            <!-- ===========================
            SOCIAL & CONTACT
            ============================ -->
            <div class="row">
                <!--<div class="col-sm-4">-->
                <!--<ul class="list-unstyled">-->
                <!--<li><a href=""><span class="social fa fa-home"></span>EvenFly.com</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>&lt;!&ndash; social 1st col end&ndash;&gt;-->
                {% if info.email %}
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li><a href="mailto:support@evenfly.com"><span class="social fa fa-envelope-o"></span>{{
                            info.email }}</a>
                        </li>
                    </ul>
                </div><!-- social 2nd col end-->
                {% endif %}
                {% if info.tel %}
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        <li><a><span class="social fa fa-skype"></span>{{ info.tel }}</a>
                        </li>
                    </ul>
                </div><!-- social 3rd col end-->
                {% endif %}
            </div><!-- header social end-->
        </div><!-- header right end-->
    </div><!-- header end-->

    <hr class="firsthr">

    <!-- ===========================
    BODY LEFT PART
    ============================ -->
    <div class="col-md-10 mainleft">
        <!--<div id="statement" class="row mobmid">-->
            <!--<div class="col-sm-1">-->
                <!--<span class="secicon fa fa-area-chart"></span>-->
            <!--</div>&lt;!&ndash;icon end&ndash;&gt;-->

            <!--<div class="col-sm-11">-->
                <!--<h3>研究领域</h3>-->
                <!--<p></p>-->
                <!--<p>此处放Echarts图</p>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
            <!--</div>&lt;!&ndash;info end&ndash;&gt;-->
        <!--</div>&lt;!&ndash;personal statement end&ndash;&gt;-->

        <!--<hr>-->

        <div id="education" class="row mobmid">
            <div class="col-sm-1">
                <span class="secicon fa fa-graduation-cap"></span>
            </div><!--icon end-->

            <div class="col-sm-11">
                <h3>教育经历</h3>

                <div class="row">
                    <div class="col-md-12">
                        {% for tmp in info.career %}
                        <p style="font-size: 13px"><font color="black">{{ tmp }}</font></p>
                        {% endfor %}
                    </div>

                </div><!--Education & Certification 1 end-->

            </div>
        </div><!--Education & Certifications end-->

        <hr>

        <!-- ===========================
        JOB EXPERIENCES
        ============================ -->
        <div id="job" class="row mobmid">
            <div class="col-sm-1">
                <span class="secicon fa fa-briefcase"></span>
            </div><!--icon end-->

            <div class="col-sm-11">
                <h3>工作经历</h3>

                <div class="row">
                    <div class="col-md-12">
                        {% for tmp in info.job%}
                        <p style="font-size: 13px"><font color="black">{{ tmp }}</font></p>
                        {%  endfor %}
                        <</div>


                </div><!--Job 1 end-->

            </div><!--Job experiences end-->
        </div><!--Job experiences end-->

    <hr>

         <div id="contribute " class="row mobmid">
            <div class="col-sm-1">
                <span class="secicon fa fa-trophy"></span>
            </div><!--icon end-->
            <div class="col-sm-11">
                <h3>获奖状况</h3>

                <div class="row">
                    <div class="col-md-12">
                        {% for tmp in info.contribute %}
                            <p style="font-size: 13px"><font color="black">{{ tmp }}</font></p>
                        {% endfor %}
                    </div>


                </div><!--Job 1 end-->
            </div><!--Job experiences end-->
        </div><!--Job experiences end-->

    <hr>

    <div id="contribute " class="row mobmid">
            <div class="col-sm-1">
                <span class="secicon fa fa-file-text"></span>
            </div><!--icon end-->

            <div class="col-sm-11">
                <h3>论文情况</h3>

                <div class="row">
                    <div class="col-md-12">
                        {% for tmp in info.contribute %}
                            <p style="font-size: 13px"><font color="black">{{ tmp }}</font></p>
                        {% endfor %}
                    </div>


                </div><!--Job 1 end-->
            </div><!--Job experiences end-->
        </div><!--Job experiences end-->
    </div><!--left end-->

    <!-- ===========================
    SIDEBAR
    =========================== -->
    <!--<div class="col-md-4 mainright">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-1 col-md-2 mobmid">-->
                <!--<span class="secicon fa fa-magic"></span>-->
            <!--</div>&lt;!&ndash;icon end&ndash;&gt;-->

            <!--<div class="col-sm-11 col-md-10">-->
                <!--<h3 class="mobmid">Technical skills </h3>-->

                <!--<p>Activity</p>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65"-->
                         <!--aria-valuemin="0" aria-valuemax="100" style="width: 65%">-->
                        <!--<span class="sr-only">65% Complete (success)</span>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;skill end&ndash;&gt;-->


                <!--<p>Papers</p>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"-->
                         <!--aria-valuemax="100" style="width: 85%">-->
                        <!--<span class="sr-only">85% Complete</span>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;skill end&ndash;&gt;-->

                <!--<p>H-index</p>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"-->
                         <!--aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                        <!--<span class="sr-only">60% Complete (warning)</span>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;skill end&ndash;&gt;-->

                <!--<p>G-index</p>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30"-->
                         <!--aria-valuemin="0" aria-valuemax="100" style="width: 30%">-->
                        <!--<span class="sr-only">30% Complete (danger)</span>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;skill end&ndash;&gt;-->
            <!--</div>&lt;!&ndash;info end&ndash;&gt;-->
        <!--</div>&lt;!&ndash;tech skills end&ndash;&gt;-->

        <!--<hr>-->
        <!--&lt;!&ndash; 获奖情况&ndash;&gt;-->
        <!--<div class="row mobmid">-->
            <!--<div class="col-sm-1 col-md-2">-->
                <!--<span class="secicon fa fa-trophy"></span>-->
            <!--</div>&lt;!&ndash;icon end&ndash;&gt;-->

            <!--<div class="col-sm-11 col-md-10 ">-->
                <!--<h3>团队</h3>-->

                <!--<div class="award">-->
                    <!--<p>ACM Fellow（2016）</p>-->
                    <!--<p>AAAS Fellow（2016）</p>-->
                    <!--<p>AAAI Fellow（2016）</p>-->
                    <!--<p>IEEE数据挖掘杰出服务奖 (2016)</p>-->
                    <!--<p>PAKDD 卓越贡献奖（2016）</p>-->
                    <!--<p>2013年度国家自然科学二等奖 (2014)</p>-->
                    <!--<p>ACM杰出科学家 (2013)</p>-->
                    <!--<p>IEEE计算智能学会杰出青年成就奖 (2013)</p>-->
                    <!--<p>中国计算机学会会士 (2013)</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;1st award end&ndash;&gt;-->


            <!--</div>&lt;!&ndash;awards end&ndash;&gt;-->

        <!--</div>-->

        <!--<hr>-->
    <!--</div>&lt;!&ndash;right end&ndash;&gt;-->

</div><!--container end-->


<!--necessary scripts and plugins-->
<script src="../../static/order/js/jquery-1.8.3.min.js"></script>
<script src="../../static/order/js/bootstrap.min.js"></script>
<script src="../../static/order/js/jquery.nicescroll.min.js"></script>
<script src="../../static/order/js/evenfly.js"></script>

</body>
</html>