
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="title" content="LayoutIt! - Bootstrap可视化布局系统">
<meta name="description" content="LayoutIt! 可拖放排序在线编辑的Bootstrap可视化布局系统">
<meta name="keywords" content="可视化,布局,系统">
<title>Bootstrap可视化布局系统</title>

<!-- Le styles -->
<link href="http://www.bootcss.com/p/layoutit/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="http://www.bootcss.com/p/layoutit/css/layoutit.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="http://www.bootcss.com/p/layoutit/img/favicon.png">
	
	<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/js/jquery-2.0.0.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/js/jquery-ui.js"></script>
	<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/js/jquery.htmlClean.js"></script>
<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/ckeditor/config.js"></script>
<script type="text/javascript" src="http://www.bootcss.com/p/layoutit/js/scripts.js"></script>
</head>

<body style="min-height: 660px; cursor: auto;" class="devpreview sourcepreview">
   <body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<img alt="140x140" src="http://www.bootcss.com/p/layoutit/img/a.jpg" class="img-rounded" />
		</div>
		<div class="span6">
			<h2>
				标题
			</h2>
			<p>
				本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
			</p>
			<p>
				<a class="btn" href="#">查看更多 »</a>
			</p>
		</div>
		<div class="span4">
			<p>
				<em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable tabs-left" id="tabs-795482" style="margin-top: 50px">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#panel-806930">第一部分</a>
					</li>
					<li>
						<a data-toggle="tab" href="#panel-540656">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-806930">
						<p>
							第一部分！！！
						</p>
					</div>
					<div class="tab-pane" id="panel-540656">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
    
   </body>
</html>