<footer>
    <small>
        <ul class="company">
            <li>© 三螺旋大数据科技（苏州）有限公司</li>
        </ul>
        <ul class="ghs">
            <span>备案号：</span>
            <a target="_blank" href="http://www.miitbeian.gov.cn">
                <span>苏ICP备17021343号-1</span>
            </a>
        </ul>
        <ul class="footer-nav">
            <li><a href="{{ url_for('public.about') }}">关于我们</a></li>
            <li><a href="mailto:sanluoxuan@qq.com">联系我们</a></li>
        </ul>
    </small>
</footer>
