<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('public.home') }}">
                三螺旋
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('order.blank') }}">主页</a></li>
                <li><a href="{{ url_for('public.about') }}">关于</a></li>
            </ul>
            {% if current_user and current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text"><a class="navbar-link"
                                                  href="{{ url_for('user.members') }}">欢迎： {{ current_user.username }}</a>
                        </p>
                    </li>
                     <li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i>注销</a></p></li>
                    </li>

                </ul>
            {% elif form %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('public.register') }}">注册</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('public.login') }}">登录</a></li>
                </ul>

            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

