{% extends "order/base.html" %}
{% block content %}
{#    {{ super() }}#}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h1>
                    {{ info_insti.institution_name  }}
                </h1>
                <hr><hr>
                <div class="tabbable" id="tabs-65603">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#panel-664667" data-toggle="tab">实验室简介</a>
                        </li>
                         <li class="active">
                            <a href="#panel-631274" data-toggle="tab">实验室历史概况</a>
                        </li>
                         <li class="active">
                            <a href="#panel-631275" data-toggle="tab">实验室研究方向</a>
                        </li>
                    </ul>
                    <br><br>
                    <div class="tab-content">
                        <div class="tab-pane" id="panel-664667">
                            <p style="font-family: 'Times New Roman'; color: dimgrey; font-size: 20px">{{ info_insti.institution_introduction }}</p>
                        </div>
                         <div class="tab-pane active" id="panel-631274">
                            <p style="font-family: 'Times New Roman'; color: dimgray; font-size: 20px">{{ info_insti.institution_history }}</p>
                        </div>
                         <div class="tab-pane active" id="panel-631275">
                            <p style="font-family: 'Times New Roman'; color: dimgrey; font-size: 20px">{{ info_insti.institution_research_area }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}