{% extends "layout.html" %}
{% block content %}
<div class="home-header">
    <div class="home-header-inner">
        <h1>聚类</h1>
        <h3>—— 物以类聚，人以群分</h3>
        <hr>
        <p>
            将物理或抽象对象的集合分成由类似的对象组成的多个类的过程被称为聚类。在商务上，聚类能帮助市场分析人员从客户基本库中发现不同的客户群，并且用购买模式来刻画不同的客户群的特征。在生物学上，聚类能用于推导植物和动物的分类，对基因进行分类，获得对种群中固有结构的认识。聚类也能用于对Web上的文档进行分类，以发现信息。
        </p>
    </div>
</div>

<div class="home-content">
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="text-center">东南大学（苏州）数据挖掘实验室</h2>
                    <hr class="light">
                    <p class="text-faded">
                        东南大学苏州研究院由东南大学和苏州市人民政府全面合作共建，是集高层次人才培养、高水平科学研究、高新技术成果转化为一体的办学实体、面向区域经济发展和科技创新的公共服务平台。2005年10月挂牌成立，坐落于风光秀美、景致典雅的苏州工业园区独墅湖科教创新区。
                    </p>
                    <p class="text-faded">
                        东南大学苏州研究院秉承东南大学“止于至善”的校训，依托东南大学的学科优势，坚持做“政府最关心、企业最感兴趣、老百姓最需要”理念的实践者，根据苏州市区域经济和社会发展的实际需要，努力为苏州市创新体系建设提供支撑、为苏州市乃至长江三角洲地区的经济腾飞和社会发展服务。
                    </p>
                    <p class="text-faded">
                        自2005年以来，东南大学先后在苏州建成了10个苏州市高技术重点实验室、东南大学软件学院（苏州）、东南大学国家大学科技园（苏州）、东南大学-蒙纳士大学苏州联合研究生院和联合研究院、东南大学技术转移苏州中心。校区总建筑面积达10万平方米。
                    </p>
                    <p class="text-faded">
                        截止2014年，软件学院（苏州）、东南大学-蒙纳士大学苏州联合研究生院全日制硕士已毕业897人，在院硕士及以上层次研究生1100余名；纵向科技经费总量达8763多万元；产学研合作项目达上百项，合作经费6000多万元；东南大学国家大学科技园（苏州）入驻的高科技企业达145家，入驻企业注册资本总数约4.8亿元人民币；申请专利数539件，授权295件，其中发明专利244件。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>研究内容</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="home-service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary"></i>
                        <h3>专家推荐</h3>
                        <p class="text-muted text-left">
                            深度挖掘286个国家一级重点学科数据，根据企业的专业方向及技术需求，检索相关领域的专家/教授，并针对性地进行专家推荐，有效地完成校企合作和技术转移目标。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="home-service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary"></i>
                        <h3>技术培训</h3>
                        <p class="text-muted text-left">
                            针对企业提出的技术需求，联系相关专业的资深专家/教授，并根据双方的时间开展相应的技术培训课程，从而弥补企业在特定专业领域技术知识的不足。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="home-service-box">
                        <i class="fa fa-4x fa-diamond text-primary"></i>
                        <h3>数据挖掘</h3>
                        <p class="text-muted text-left">
                            从大量的数据中通过算法搜索隐藏于其中信息的过程。通过统计、在线分析处理、情报检索、机器学习、专家系统（依靠过去的经验法则）和模式识别等诸多方法来实现上述目标。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="home-service-box">
                        <i class="fa fa-4x fa-flask text-primary"></i>
                        <h3>数据分析</h3>
                        <p class="text-muted text-left">
                            用适当的统计分析方法对收集来的大量数据进行分析，提取有用信息和形成结论而对数据加以详细研究和概括总结的过程。这一过程也是质量管理体系的支持过程。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}